
/* Helping classes */
.row{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}

.row.column {
  flex-direction: column;
}
.row.bothcenter{
  justify-content: center;
  align-items: center;
  height:100%;
}

img{
  border-radius:0.5rem;
}

h1{
  font-size:1.8rem;
  padding:1rem 0;
}
h2{
  font-size:1.6rem;
  padding:1rem 0;
}

img.medium{
  max-width:29rem;
  width:100%;
}

.card{
  border:0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius:0.5rem;
  margin:1rem;
}

.card-body{
  padding:1rem;
}
.card-body > {
  margin-bottom:0.5rem;
}

body{
  padding:0;
  margin:0;
  background-color: white;
}
a{
  text-decoration: none;

}

/*Home Screen */
.home-container{
  height:100vh;
  display: flex;
  flex-direction: column;
}

.home-header{
  flex:1 1;
  background-color: rgba(255, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;


}
.my-logo-text{
  margin-left:1rem;

}
.home-header-links{
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-header-links>a{
  cursor: pointer;
  margin-right:1rem;
  padding:0.5rem;
}
.home-content{
  flex:9 1;
  rgba(0, 255, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.home-content>a{
  display: flex;
  cursor:pointer;
  padding:1rem;
  margin:1rem;
  border:1px solid white;
}

/* Product Screen */
.card{
  border:0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius:0.5rem;
  margin:1rem;
}

.card-body{
  padding:1rem;
}
.card-body > {
  margin-bottom:0.5rem;
}
.price{
  font-size:2rem;
}
